body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7f9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: white;
    padding: 40px 30px; /* More top/bottom space */
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  img{
    width: 100vh;
    height: 50vh;
  }
  h2 {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
  }
  
  form input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  button {
    background-color: #e9e9e9;
    color: #000;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #000;
    color: #fff;
  }
  
  .message {
    margin-top: 20px;
    font-size: 0.95rem;
  }
  
  .message a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
  }
  